.flex-container {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #73daa1;
    align-items: center;
  }
  .welcome {
    color: antiquewhite;
    font-size: 2em;
  }
